<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="2.5"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description></description>
		<servlet-class>com.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Connection</servlet-name>
		<display-name>Connection</display-name>
		<description></description>
		<servlet-class>connection.Connection</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>test</display-name>
		<servlet-name>test</servlet-name>
		<servlet-class>com.test</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WalletValidaton</display-name>
		<servlet-name>WalletValidaton</servlet-name>
		<servlet-class>com.WalletValidaton</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Wallet</display-name>
		<servlet-name>Wallet</servlet-name>
		<servlet-class>com.Wallet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WalletHistory</display-name>
		<servlet-name>WalletHistory</servlet-name>
		<servlet-class>com.WalletHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Recovery</display-name>
		<servlet-name>Recovery</servlet-name>
		<servlet-class>com.Recovery</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>OTP</display-name>
		<servlet-name>OTP</servlet-name>
		<servlet-class>com.OTP</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewPassword</display-name>
		<servlet-name>NewPassword</servlet-name>
		<servlet-class>com.NewPassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteMe</display-name>
		<servlet-name>DeleteMe</servlet-name>
		<servlet-class>com.DeleteMe</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetStationNames</display-name>
		<servlet-name>GetStationNames</servlet-name>
		<servlet-class>com.GetStationNames</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Booking</display-name>
		<servlet-name>Booking</servlet-name>
		<servlet-class>com.Booking</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SingleTicketBooking</display-name>
		<servlet-name>SingleTicketBooking</servlet-name>
		<servlet-class>com.SingleTicketBooking</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Payment</display-name>
		<servlet-name>Payment</servlet-name>
		<servlet-class>com.Payment</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PaymentProcess</display-name>
		<servlet-name>PaymentProcess</servlet-name>
		<servlet-class>com.PaymentProcess</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendDetailsMail</display-name>
		<servlet-name>SendDetailsMail</servlet-name>
		<servlet-class>com.SendDetailsMail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TicketHistory</display-name>
		<servlet-name>TicketHistory</servlet-name>
		<servlet-class>com.TicketHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PassBooking</display-name>
		<servlet-name>PassBooking</servlet-name>
		<servlet-class>com.PassBooking</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PassHistory</display-name>
		<servlet-name>PassHistory</servlet-name>
		<servlet-class>com.PassHistory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Connection</servlet-name>
		<url-pattern>/Connection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WalletValidaton</servlet-name>
		<url-pattern>/WalletValidaton</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Wallet</servlet-name>
		<url-pattern>/Wallet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WalletHistory</servlet-name>
		<url-pattern>/WalletHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Recovery</servlet-name>
		<url-pattern>/Recovery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OTP</servlet-name>
		<url-pattern>/OTP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewPassword</servlet-name>
		<url-pattern>/NewPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteMe</servlet-name>
		<url-pattern>/DeleteMe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Booking</servlet-name>
		<url-pattern>/Booking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SingleTicketBooking</servlet-name>
		<url-pattern>/SingleTicketBooking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Payment</servlet-name>
		<url-pattern>/Payment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentProcess</servlet-name>
		<url-pattern>/PaymentProcess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendDetailsMail</servlet-name>
		<url-pattern>/SendDetailsMail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TicketHistory</servlet-name>
		<url-pattern>/TicketHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PassBooking</servlet-name>
		<url-pattern>/PassBooking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PassHistory</servlet-name>
		<url-pattern>/PassHistory</url-pattern>
	</servlet-mapping>
</web-app>
